<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구독/구독 취소</title>
    <link rel="stylesheet" href="/test.css">
</head>
<body>
<hr>
<h1>이메일 삭제</h1>
<form th:object="${emailDto}" th:method="post" th:action="@{/templates/view/email/delete}">
    <input type="email" th:field="*{email}" placeholder="이메일을 입력하세요"/>
    <div class="error" th:errors="*{email}"></div>

    <input type="password" th:field="*{pwd}" placeholder="비밀번호를 입력하세요"/>
    <div class="error" th:errors="*{pwd}"></div>

    <input type="submit">
</form>
</body>
</html>