<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구독/구독 취소</title>
    <link rel="stylesheet" href="/test.css">
</head>
<body>
<h1>이메일 등록</h1>
<form th:object="${emailDto}" th:method="post" th:action="@{/templates/view/email/register}" id="register-form">
    <div id="email-wrap">
        <input type="email" th:field="*{email}" placeholder="이메일을 입력하세요" />
        <button type="button" id="send-email-btn">인증 메일 받기</button>
        <button style="display: none" type="button" id="reenter-email-btn">이메일 다시 입력하기</button>
        <div class="error" th:errors="*{email}"></div>
    </div>

    <div id="code-wrap" style="display: none">
        <br>
        <input type="text" th:field="*{code}" placeholder="코드를 입력하세요">
        <button type="button" id="verify-email-btn">인증</button>
        <div class="error" th:errors="*{code}"></div>
        <div id="time-limit-description">3분 안에 입력을 완료해주세요<br></div>
    </div>

    <br>
    <input type="password" th:field="*{pwd}" placeholder="비밀번호를 입력하세요"/>
    <div class="error" th:errors="*{pwd}"></div>

    <input type="submit">
</form>
<hr>

<script>
    document.getElementById("verify-email-btn").addEventListener("click", () => {
        const input = {
            email: document.getElementById("email").value,
            code: document.getElementById("code").value,
        };

        fetch("/email/auth/verify", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(input),
        })
            .then(resp => {
                const old = document.getElementById("code-error");
                if (old) {
                    old.remove();
                }

                if (!resp.ok) {
                    return resp.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                }
            })
            .then(() => {
                // 인증에 성공
                document.getElementById("email").readOnly = true;
                document.getElementById("code").readOnly = true;
                document.getElementById("send-email-btn").remove();
                document.getElementById("verify-email-btn").remove();
                document.getElementById("time-limit-description").innerText = "인증이 완료되었습니다.\n" +
                    "10분 안에 구독신청을 해주세요";

            })
            .catch(error => {
                const newDiv = document.createElement("div");
                newDiv.classList.add("error");
                newDiv.id = "code-error";
                newDiv.innerText = error.message;

                document.getElementById("code-wrap").appendChild(newDiv);
            })
    });

    document.getElementById("reenter-email-btn").addEventListener("click", () => {
        document.getElementById("code-wrap").value = "";
        document.getElementById("code-wrap").style.display = 'none';
        document.getElementById("email").readOnly = false;
        document.getElementById("email").value = "";
        document.getElementById("reenter-email-btn").style.display = 'none';
    });

    document.getElementById("send-email-btn").addEventListener("click", () => {
        const input = {
            email: document.getElementById("email").value,
        };
        fetch("/email/auth/send", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(input),
        })
            .then(resp => {
                const old = document.getElementById("email-error");
                if (old) {
                    old.remove();
                }

                if (!resp.ok) {
                    return resp.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                }
            })
            .then(() => {
                document.getElementById("code-wrap").style.display = 'block';
                document.getElementById("email").readOnly = true;
                document.getElementById("reenter-email-btn").style.display = 'block';
            })
            .catch(error => {
                const newDiv = document.createElement("div");
                newDiv.classList.add("error");
                newDiv.id = "email-error";
                newDiv.innerText = error.message;

                document.getElementById("email-wrap").appendChild(newDiv);
            });
    });

</script>
</body>
</html>