<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>채용공고 모음</title>
    <link rel="stylesheet" href="/test.css">
</head>
<body>
<div class="container">
    <h1>채용정보 모음</h1>
    <div class="subscription-wrap">
        <div class="subscription" th:onclick="|location.href='@{/email/register}'|">
            구독 신청
        </div>
    </div>
    <div class="subscription-wrap">
        <div class="subscription" th:onclick="|location.href='@{/email/delete}'|">
            구독 취소
        </div>
    </div>

    <div class="job-posting" th:each="posting: ${postings}">
        <div class="job-posting-identifier">
            <a th:href="${posting.link}" target="_blank">
                <div class="occupation"><span th:text="${posting.occupation}"></span></div>
                <div class="company">회사: <span th:text="${posting.companyName}"></span></div>
            </a>
        </div>
        <div class="job-posting-info" th:text="${posting.infos}">추가정보</div>
    </div>
</div>

</div>
</body>
</html>
