<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구독/구독 취소</title>
    <link rel="stylesheet" href="/test.css">
</head>
<body>
<h1>이메일 등록</h1>
<form th:object="${emailDto}" th:method="post" th:action="@{/email/register}" id="register-form">
    <div id="email-wrap">
        <input type="email" th:field="*{email}" placeholder="이메일을 입력하세요" />
        <button type="button" id="send-email-btn">인증 메일 받기</button>
        <div class="error" id="email-error" th:errors="*{email}"></div>
    </div>

    <div id="code-wrap" style="display: none">
        <br>
        3분 안에 입력을 완료해주세요<br>
        <input type="text" th:field="*{code}" placeholder="코드를 입력하세요">
        <button type="button" id="verify-email-btn">인증</button>
    </div>

    <br>
    <input type="password" th:field="*{pwd}" placeholder="비밀번호를 입력하세요"/>
    <div class="error" th:errors="*{pwd}"></div>

    <input type="submit">
</form>
<hr>

<script>
    document.getElementById("send-email-btn").addEventListener("click", () => {
        const input = {
            email: document.getElementById("email").value,
        }
        fetch("/email/auth/send", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(input),
        })
            .then(resp => {
                if (!resp.ok) {
                    return resp.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                    return;
                }

            })
            .then(data => {
                document.getElementById("code-wrap").style.display='block';
            })
            .catch(error => {
                const old = document.getElementById("email-error");
                if (old) {
                    old.remove();
                }

                const newDiv = document.createElement("div");
                newDiv.classList.add("error");
                newDiv.id = "email-error";
                newDiv.innerText = error.message;

                document.getElementById("email-wrap").appendChild(newDiv);
            })
    });
</script>
</body>
</html>